<!-- li id="<%= dom_id painter %>" class="list-group-item"><%#= link_to "Show this painter", painter %></li -->
<div class="accordion-item">
  <h2 class="accordion-header" id="<%= dom_id painter %>">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= dom_id painter %>" aria-expanded="false" aria-controls="collapse<%= dom_id painter %>">
      <%= painter.name %>
    </button>
  </h2>
  <div id="collapse<%= dom_id painter %>" class="accordion-collapse collapse show" aria-labelledby="<%= dom_id painter %>" data-bs-parent="#<%= dom_id painter %>">
    <div class="accordion-body">
      <strong>Pinturas :  </strong>

<!--      <code><%#= @painter.pictures %></code>-->
    </div>
  </div>
</div>

