<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

 <% if user_signed_in? %>
    <%= link_to "New article", new_article_path %>
<% else %>
    <p>lo invitamos a iniciar sesion! <%= link_to "Ingresar", "/" %></p>
<% end %>