<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

 <%= if user.signed_in? %>
    <%= link_to "New article", new_article_path %>
<% else %>
    <p>No puede acceder a este recurso inicie sesion!</p>
<% end %>